.carousel {
  background: #1a237e;
}
nav {
  color: blue;
}
.carousel .item {
  height: 300px;
}
.item img {
  position: absolute;
  top: 0;
  left: 0;

  min-height: 300px;
}
.black {
  color: #000;
}
